body {
    margin: 0px;
    padding:opx;
    text-align: center;
    background-color: rgb(87, 11, 222);
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Press start 2P', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: #000;
}

#scoreboard {
    margin: 0px;
}

.jumbotron {
   background-color: rgb(87, 11, 222); 
   text-align: center;
}

#backToMenu {
    border: 2px solid white;
    border-radius: 10px;
}

#backToMenu:hover {
    background-color: #000;
}

p {
    font-family: 'Press start 2P', cursive;
    color: #000;
    text-align: center;
}

div {
    border-style: none;
    border-width: 5px;
    padding: 20px;
    background-color: rgb(87, 11, 222);
}